__pycache__/
.cred/
.data/
.tmp/
current_version/
main.exe
update.exe
dist/
.files/
assets/icons8_ask_question_24px.png
assets/icons8_bluetooth_2_16px.png 
assets/icons8_buy_26px_1.png       
assets/icons8_buy_26px_2.png
assets/icons8_move_16px.png
assets/icons8_question_mark_16px.png
assets/icons8_reset_16px.png
assets/icons8_reset_24px.png
assets/icons8_submit_progress_24px.png        
assets/icons8_undo_24px.png
assets/magic_mouse.png